{% extends 'base.html' %}
{% load static %}
{% block title %} 
	Product
{% endblock %}

{% block content %}

<div class="conteiner py-5">
	<div class="row mt-5">
		<div class="col-10 mx-auto col-md-6 my-3">
			<img src="{{product.image.url}}">
		</div>
	</div>

	<div class="col-10 mx-auto col-md-6 my-3">
		<div class="">
			<h1 class="product-title">{{product.name}}</h1>
			<h5 class="text-info font-italic mb-3">
				$ {{product.price}}
			</h5>
			<p class="product_desc">Product description</p>
			<p text-justify product-text>{{product.description}}</p>
			{% if product.stock <= 0 %}
			<p class="text-justify product-text">Out of stock</p>
			{% else %}
			<a href="">Add To Cart</a>
			{% endif %}
		</div>
	</div>
	
</div>
{% endblock %}